.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 5rem;
  }
  
  .container h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  .container .chatInputButton {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .container .chatInputButton input {
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(218, 229, 240);
  }
  
  .container .chatInputButton button {
    background: rgb(56, 82, 103);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px;
  }
  
  .chatArea {
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 2.5px 5px 0.1px rgb(138, 149, 156);
    padding: 10px 20px;
  }
  